<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    table {
        height: 300px;
        width: 300px;
        text-align: center;
        border: 3px solid black;
    }
    td {
        border: 1px solid black;
    }
</style>
<table>
    {% for key, values in data.items() %}
    <tr>
        {% for value in values %}
          <td>
            {% if value == key %}
              {{ value }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
</table>  
</body>
</html>